<ion-content>
    <ion-header no-border>
        <ion-toolbar><!--routerLink="/home"-->
              <ion-item lines="none" routerLink="/home"><ion-title >MY CRICPEDIA</ion-title></ion-item>
        </ion-toolbar>
    </ion-header>
  <div class="ion-padding">
  <ion-item lines="inset">
    <ion-input type="md" [value]="team1" color="danger" size="default" (click)='showModal1()'></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-input type="md" [value]="team2" color="danger" size="default" (click)='showModal2()'></ion-input>  
  </ion-item>
</div>
  <!--<ion-button type="button" (click)='showModal()' size="default">Show Modal</ion-button>-->
  <ion-button type="button" (click)='goFindmatch()' size="default">Find Macthes</ion-button>
</ion-content>